@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
}
@utility font-serif-elegant {
  font-family: "Cormorant Garamond", serif;
}
@utility font-ancient{
  font-family: "Cinzel", serif; 
}
@layer base {
  body {
    font-family: var(--font-sora);
  }
}